<form (ngSubmit)="onSubmit()" [formGroup]="salesOrder" class="">
    <div class="form-group">
        <label for="keyboard"> Pedido ID </label>
        <input type="text" class="form-control" id="keyboard" aria-describedby="emailHelp" formControlName="orderId"
            placeholder="Pedido ID">
    </div>
    <div class="form-group">
        <label for="sku">Nome/Razão</label>
        <input type="text" class="form-control" formControlName="name" id="sku"
            placeholder="Nome/Razão">
    </div>
    <div class="form-group">
        <label>Total R$ </label>
        <input type="text" class="form-control" formControlName="total"
            placeholder="Total R$">

    </div>
    <div class="form-group">
        <label class="control-label">Data pedido </label>
        <input type="date" class="form-control" formControlName="date">
    </div>
    <div class="form-group">
        <label>Serviço Status</label>
        <select class="custom-select col-12" data-placeholder="Choose OrderStatus" formControlName="orderStatusId">
            <option value=''>-- Selecione o Status --</option>
            <option *ngFor="let data of orderStatusSandbox.getOrderstatuslist$ | async" value={{data.orderStatusId}}>
                {{data.name}}</option>

        </select>
    </div>

    <div class="text-right filter-btns">
        <a href="javascript:void(0)" (click)="reset()">Resetar</a>
        <button type="submit" class="btn">Aplicar filtros</button>
    </div>
</form>