 <!-- <mat-toolbar-row fxLayoutAlign="space-between center" class="top-toolbar theme-container">
    <span fxShow="false" fxShow.gt-xs fxLayoutAlign="center center" class="blackStyle"><mat-icon
            class="mat-icon-sm blackStyle">call</mat-icon> {{'Shared.Hotline'|translate}} </span>
    <span fxShow="false" fxShow.gt-sm class="blackStyle">{{'Shared.WelcomeToOurMarket'|translate}}</span>
    <app-top-menu></app-top-menu>
</mat-toolbar-row>  -->

 <div class="top-menu">    
    <mat-icon class="mat-icon-sm blackStyle">call</mat-icon>        
    <span>3458-6666</span>   
    <mat-icon class="mat-icon-sm blackStyle">call</mat-icon>        
    <span>complatte@complatte.com.br</span>       
</div> 
