<div class="auth-wrapper">
    <div class="logo-left">
        <!-- <img src="assets/img/logoComplatte.png"> -->
        <h3> Bem Vindo(a) </h3>
        <p>
             <span>
                Complatte
            </span>- Bureau Digital Ltda
        </p>
    </div>
    <!--Left-->


    <!-- ============================================================== -->
    <!-- Only router without any element -->
    <!-- ============================================================== -->
    <router-outlet></router-outlet>
</div>
